*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Kufam', sans-serif;
    background-color: #F8F8F8;
    display: flex;
}
nav{
    height: 100vh;
    width: 21.875em;
    background-color: white;
    padding-top: 1.563em;
    padding-left: 1.25em;
    display: grid;
    font-family: 'Kufam', sans-serif;

}
.search-bar{
    position: absolute;
    background-color: #EEEEEE;


    height: 1.875em;
    width: 18.75em;
    padding-left: 1em;
    border-radius: 1.875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kufam', sans-serif;
}
.search-text{
    background: none;
    border: 0ch;
    outline: 0;
    font-family: 'Kufam', sans-serif;
}
main{
    height: 100vh;
    width: 98.125em;
    display: grid;
}
.header{
    height: 3.75em;
    width: 100%;
    /* background-color: blue; */
}
.week{
    color: #4C4C4C;
}
.content{
    height: 53.813em;
    width: 100%;
    /* background-color: magenta; */
}
.weather{
    height: 200px;
    width: 100%;
    background-color: rgb(196, 26, 196);
    align-items: center;
    justify-content: center;
    gap: 8.5em;
    display: flex;
}
.weather_box{
    height: 8.75em;
    width: 7.5em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.info_txt{
    height: 2em;
    width: 100%;
    background-color: aqua;
}
.info{
    height: 39.313em;
    width: 100%;
    background-color: green;
}
.footer{
    height: 0.625em;
    width: 100%;
    background-color: aqua;
}

