*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    font-family: 'Kufam', sans-serif;
    background-color: #F8F8F8;
    display: flex;
}
nav{
    height: 100vh;
    width: 21.875em;
    background-color: white;
    justify-content: center;
    font-family: 'Kufam', sans-serif;

}
.above-side{
    height: 3.5em;
    width: 21.875em;
    padding-top: 1.563em;
    padding-left: 1.25em;
    background-color: aqua;
}
.search-bar{
    position: absolute;
    background-color: #EEEEEE;
    height: 1.875em;
    width: 18.75em;
    padding-left: 1em;
    border-radius: 1.875em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kufam', sans-serif;
}
.search-text{
    background: none;
    border: 0ch;
    outline: 0;
    font-family: 'Kufam', sans-serif;
}
.below-side{
    height: 50.313em;
    width: 21.875em;
    display: grid;
    justify-content: center;
    padding-top: 2em;
    background-color: green;
}
.current_weather{
    height: 500px;
    width: 300px;
    display: grid;
    justify-content: center;
    background-color: pink;
}
.current-weather-icon{
    height: 16em;
    width: 16em;
    background-color: tomato;
}
.current-weather-temperature{
    height: 8.125em;
    width: 16em;
    background-color: palevioletred;
}
.current-weather-city{
    height: 2em;
    width: 16em;
    display: grid;
    justify-content: center;
    background-color: rebeccapurple;
}
main{
    height: 100vh;
    width: 98.125em;
    display: grid;
}
.header{
    height: 4.375em;
    width: 100%;
    display: grid;
    align-items: center;
    padding-left: 3.125em;
    /* background-color: blue; */
}
.titulo{
    height: 2em;
    width: 3.5em;
    align-items: center;
    justify-content: center;
}
.week{
    font-size: 1.25em;
    color: #4C4C4C;
}
.linha{
    height: 0.125em;
    width: 3.5em;
    background-color: #4C4C4C;
}
.content{
    height: 53.813em;
    width: 100%;
    /* background-color: magenta; */
}
.weather{
    height: 200px;
    width: 100%;
    /* background-color: rgb(196, 26, 196); */
    align-items: center;
    justify-content: center;
    gap: 5.5em;
    display: flex;
}
.weather_box{
    height: 8.75em;
    width: 7.5em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.info_txt{
    height: 1.9em;
    width: 100%;
    padding-left: 5.313em;
    align-items: center;
    display: grid;
    color: #4C4C4C;
    /* background-color: aqua; */
}

.info{
    height: 38.125em;
    width: 100%;
    /* background-color: green; */
    display: flex;
}
.blocoUm{
    height: 100%;
    width: 32.708em;
    display: grid;
    justify-content: center;
    align-items: center;
/* background-color: blue; */
}
.esquerdaCima{
    height: 15.625em;
    width: 21.875em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.esquerdaBaixo{
    height: 15.625em;
    width: 21.875em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.blocoDois{
    height: 100%;
    width: 32.708em;
    display: grid;
    justify-content: center;
    align-items: center;
/* background-color: white; */
}
.centroCima{
    height: 15.625em;
    width: 21.875em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.centroBaixo{
    height: 15.625em;
    width: 21.875em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.blocoTres{
    height: 100%;
    width: 32.7em;
    display: grid;
    justify-content: center;
    align-items: center;
/* background-color: red; */
}
.direita{
    height: 33.125em;
    width: 21.875em;
    background-color: #D9D9D9;
    border-radius: 1.25em;
}
.footer{
    height: 1.2em;
    width: 100%;
    /* background-color: aqua; */
}

@media (max-width: 450px){

body{
    height: 100vh;
    width: 100vw;
    display: grid;
}
nav{
    height: 18.75em;
    width: 100%;
}
.search-bar{
    height: 3.5em;
    width: 40em;
}
.header{
    height: 0;
    width: 0;
}
.week{
    height: 0;
    width: 0;
}
.linha{
    height: 0;
    width: 0;
}
.content{
    height: 100%;
    width: 100%;
}
.weather{
    height: 100em;
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
}
.weather_box{
   height: 2.188em;
   width: 80em;
}

}

